*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-wrap {
  white-space: nowrap;
}

body {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  background: linear-gradient(hwb(0 100% 0% / 0.9), rgba(255, 255, 255, 0.9)),
    no-repeat center
      url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg/1280px-Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg.png);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding-top: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

footer {
  background-color: rgb(1, 16, 59);
  height: 56px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 1.5rem;
}

/* INPUTS AND BUTTONS */

button,
input {
  font: inherit;
  text-align: center;
  height: 48px;
}

input {
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
}

.btn-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  width: 45%;
  background: linear-gradient(110deg, white, lightgrey);
  border: 0.4rem outset lightgrey;
}

button:hover {
  cursor: pointer;
}

button:active {
  background: rgb(190, 190, 190);
  border: 0.4rem inset lightgrey;
}
